.azul {
  color: #00335e;
  background-color: #00335e;
}

.laranja {
  color: #fa8529;
  background-color: #fa8529;
}

.branco {
  color: #ffffff;
  background-color: #ffffff;
}

.preto {
  color: #0e0e0e;
  background-color: #0e0e0e;
}

.cinza-claro {
  color: #bdbdbd;
  background-color: #bdbdbd;
}

.cinza-escuro {
  color: #757575;
  background-color: #757575;
}
