.azul { 
    color: #00335E; 
    background-color: #00335E; 
}

.laranja {
    color: #FA8529;
    background-color: #FA8529;
}

.branco {
    color: #FFFFFF;
    background-color: #FFFFFF;
}

.preto {
    color: #0E0E0E;
    background-color: #0E0E0E;
}

.cinza-claro {
    color: #BDBDBD;
    background-color: #BDBDBD;
}

.cinza-escuro {
    color: #757575;
    background-color: #757575;
}





