
.service-h1{
    margin-bottom: 2%;
    margin-left: 35%;
    font-size: 1.6em;
    font-weight: bold;
    color: #00335E;
}

.registered-service{
    width: 300px;
}

.notification-title-service{
    padding: 1% 4%;
}

.photos-service{
  display: flex;
}

.photos-services-tree{
    width: 440px;
    margin: 0 6% 2% 6%;
}